.container-fluid {
	/*padding-top: 80px;*/
}

.topbar {
	/*position: static;*/
}

body {
	padding-top: 60px;
}

ul.child{
	display: none;
}

li.band-sidebar {
	cursor: pointer;
}

div.band-node {
	position: absolute;
	width: 50px;
	height: 20px;
	border: 1px solid #333;
	font-size: 9px;
}

div.graph-draw {
	width: 800px;
	height: 300px;
}