.container-fluid {
	/*padding-top: 80px;*/
}

.topbar {
	/*position: static;*/
}

body {
	padding-top: 60px;
}

ul.child{
	display: none;
}

span.b-name {
	cursor: pointer;
	margin-right: 5px;
}

span.loc {
	cursor: pointer;
	margin-right: 5px;
}

#graph-canvas {
	width: 798px;
	height: 400px;
	border: 2px solid #aaa;
	margin-bottom: 15px;
	display: none;
}