<html>
	<head>
		<title>Hunger for Artists (with a backbone)</title>
		<link href="./css/bootstrap.min.css" rel="stylesheet" type="text/css" />
		<link href="./css/style.css" rel="stylesheet" type="text/css" />

		<script data-main="app/hunger-graph" src="lib/require.js"></script>
	</head>

	<body>
		<div class="topbar">
			<div class="topbar-inner">
				<div class="container-fluid">
					<a href="#" class="brand">Billboard-Hunger</a>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="sidebar">
				<div class="well">
					<div class="control"></div>
					<h5>Bands</h5>
					<span class="label success">Start Node</span>
					<span class="label important">End Node</span>
					<div class="band-list"></div>
				</div>
			</div>
			<div class="content">
				<div class="hero-unit">
					<div id="graph-canvas">
					</div>
					<div class="graph-view"></div>
					<div class="path"></div>
				</div>
			</div>
		</div>

		<script type="text/template" id="graph-template">
			<ul>
				<% _.each(bands, function(band) { %>
					<li> 
						<%= band.get('name') %>: <%= band.bandList.pluck('name')%>
					</li>
				<% }); %>
			</ul>
		</script>
		<script type="text/template" id="button-template">
			<button class="btn primary small" id="<%= id %>"><%= name %></button>
		</script>
	</body>
</html>